<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Data</title>
</head>
<body>
    <form action="/listing" method="post">
        <label for="title">Give some Title
        <input type="text" name="title" id="title" placeholder="Add a Title" required>
        </label>
        <br> <br>
        <label for="title">Give some Description
        <textarea name="description" id="description" placeholder="Add Description" required></textarea></label>
        <br><br>
        <input type="text" name="image" id="Imageg
        " placeholder="Add Image URL" required>
        <br><br>
        <input type="text" name="price" id="price" placeholder="Add some Price" required>
        <br><br>
        <input type="text" name="location" id="location" placeholder="Add Some Location">
        <br><br>
        <input type="text" name="country" id="country" placeholder="Add Country">
        <button type="submit">Submit</button>
    </form>
</body>
</html>