body{
  font-family: "Poppins", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex:1;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe434d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 5px ;
    margin-left: 5px ;
}
.f-info-links a:hover{
    text-decoration: underline;
    color: #222222;
}

.f-info-socials{
    font-size: 1.2rem;
    display: flex;
    gap:1rem;
    margin-top: 2rem;
}


.f-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: #bdbbbb;
}

/* Cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.text-bold{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
    margin: 0 !important;
}

.listingLink{
    text-decoration: none
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background: white;
}

.add-btn{
    background-color: #fe434d !important;
    border: none !important;
}

/* Show Page */

.show-image{
    height: 30vh ;
}
.card-text{
    margin: 1px ;
}

.btns{
    display: flex;
    gap: 10px;
}
.btns .btn{
    padding: 7px 30px 7px 30px;
}